# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Dataset
data/

# Trained models
models/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env